.guide__list {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* margin: 1rem 0; */
}
.guide__list > .guide__item {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 1rem;
  padding: 1.5rem;
  border-radius: 8px;
  /* border: 1px solid rgba(var(--main-dark-color), 0.8); */
  border: 1px solid rgb(20 20 20);
  background-color: rgba(32, 32, 32, 0.5);
  background: linear-gradient(
    150deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(32, 32, 41, 0.5) 60%
  );
  box-shadow: 3px 3px 8px 0 rgb(0 0 0 / 20%);
}

.guide__list > .guide__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(32, 32, 41, 0.5) 10%, transparent 11%);
  background-size: 5px 5px;
  background-repeat: repeat;
}
.guide__list > .guide__item > .guide__item-body {
  position: relative;
}

.guide__list > .guide__item h3 {
  margin: 0;
  font-family: "Noto Serif", serif;
  font-family: "Karla", sans-serif;
  font-size: 1.725rem;
}
.guide__list > .guide__item p {
  /* margin: 0; */
  /* font-family: "Noto Serif", serif; */
  /* font-family: "Karla", sans-serif; */
  /* font-size: 1.725rem; */
}

/*add this to mobile and the other on top to media query */
.guide__list > .guide__item > .guide__item-time {
  margin-top: -1rem;
  margin-right: -1.2rem;
  text-align: right;
  cursor: default;
}

.guide__list > .guide__item > .guide__item-time span {
  display: inline-block;
  padding: 0.275rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 0.725rem;
  cursor: default;
}
.guide__list > .guide__item.guide__item--STARTED > .guide__item-time span {
  background-color: rgba(0, 0, 0, 0.35) !important;
  border: 1px solid rgba(0, 0, 0, 0.55) !important;
}

@media (min-width: 768px) {
  .guide__list > .guide__item > .guide__item-time {
    position: absolute;
    /* top: 0.75rem;
    right: 0.75rem; */
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.275rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 0.725rem;

    cursor: default;
  }
}

.guide__list > .guide__item > .guide__item-percentage {
  --border-radius: 5px;
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: var(--border-radius);
  background: var(--main-dark);
  border-bottom: 1px solid var(--main-dark);
  border-top: 1px solid var(--main-dark);
  /* border-right: 1px solid rgba(0, 0, 0, 0.4); */
  transition: all 250ms ease-in-out;
}
.guide__list
  > .guide__item
  > .guide__item-percentage
  > .guide__item-percentage-bar {
  content: attr(data-value);
  position: absolute;
  width: 0px; /* get overriden by data-value */
  height: 100%;
  /* top: 0; */
  top: -1px;
  left: 0;
  border-radius: 0px var(--border-radius) var(--border-radius) 0;
  background: var(--main-primary);
  border-top: 1px solid rgb(217 85 243 / 75%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.guide__list
  > .guide__item
  > .guide__item-percentage
  > .guide__item-percentage-bar[data-value] {
  max-width: 100%;
}

.guide__list
  > .guide__item.guide__item--STARTED
  > .guide__item-percentage
  > .guide__item-percentage-bar[data-value] {
  min-width: 1%;
}

.guide__list > .guide__item.guide__item--STARTED {
  box-shadow: 6px 6px 8px 0 rgb(0 0 0 / 50%);
  opacity: 1;
}
.guide__list > .guide__item.guide__item--STARTED:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgb(32 32 41 / 50%) 10%, transparent 11%),
    radial-gradient(rgb(213 58 157 / 30%) 10%, transparent 11%);
  background-size: 5px 5px;
  /* background-size: 1rem 1rem; */
  background-position: 0 0, 0.5rem 0.5rem;
  /* background-position: 0 0, 5px 5px; */
  background-repeat: repeat;
}

.guide__list > .guide__item.guide__item--STARTED > .guide__item-time span {
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.55);
}
.guide__list > .guide__item.guide__item--STARTED > .guide__item-percentage {
  box-shadow: 0px 1px 0px 0px rgb(20 20 20);
}

.guide__list > .guide__item.guide__item--ENDED {
  opacity: 0.5;
}
.guide__list
  > .guide__item.guide__item--ENDED
  > .guide__item-percentage
  > .guide__item-percentage-bar {
  width: 100% !important;
}
